.container {

  margin: 0 auto;  
  display: flex;
  gap: 30px;
  padding: 50px;
 
}

h1 {
  color: #ddd;
}
.programming-skills {
  /* background: linear-gradient(to right,  #02071a, #294d7e);  */
  background: conic-gradient(from -45deg at 50% 50%, #02071a, #030d1d, #0a1f3d, #030d1d, #02071a);
  border-radius: 10px;
  flex: 1;
  padding-top: 80px; 
  margin: 50px;
  min-height: 100vh;
}


.skill-list {
  display: flex;
  flex-wrap: wrap; 

  justify-content: space-between;
}

.skill {
   /* background: #f4f4f4; */
   color: #f4f4f4;
   border-radius: 5px;
   padding: 10px;
   margin: 5px;
   width: 30%;
   text-align: center; 
}
.skill h3 {
font-size: 20px;
}

.skill-bar {
  height: 10px;
  border-radius: 5px;
  background: #ddd;
}

.skill-level {
  height: 10px;
  border-radius: 5px;
  background: #e8e8e8;
  overflow: hidden;
}

.skill-progress {
  height: 10px;
  border-radius: 5px; 
  background-image: linear-gradient(to right,#92067b, #f52cb8);
  transition: width 0.5s ease-in-out;
}

 .skill-progress {
  animation: animate-positive 2s forwards;
}

@keyframes animate-positive {
  0% { 
    width: 0; 
  }
  100% {
    width: 100%; /* Replace with actual percentage */
  }
}


.about-content {
color: #ddd;
  flex: 1;  
  padding-top: 80px;
  margin: 50px;
  min-height: 100vh;

}