.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container-certificate {
  background-color: rgb(14, 37, 63);
  height: auto; /* Change height to auto */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}


 .col-md-4 {
  margin: 30px;
} 

.title {
  text-align: center;
  font-size: 50px;
  color: #ddd;
  position: relative;
  display: inline-block;
  /* Gradient animation */
  background: linear-gradient(to right, #5dd6f5, #f705d6);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite alternate; /* Alternate direction on each iteration */
  /* Hover effect */
  transition: transform 0.3s ease-in-out;
}

/* Gradient animation keyframes */
@keyframes shine {
  0% {
    background-position: -150% center; /* Initial state */
  }
  100% {
    background-position: 100% center; /* Final state */
  }
}

/* Hover effect */
.title:hover {
  transform: scale(1.1);
}


.row-certificate {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  align-items: flex-start;
  /* Align items to the start of the cross axis (top) */
  justify-content: space-around;
  margin-top: 20px;

}

.img-fluid {
  min-width: 300px; 
  height: auto;
  border: 4px solid #030d1d;
  border-radius: 8px;
  background-color: #141b2d;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.box-container {
  max-width: 50%;
  max-height: 100vh;
}

.box-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Media query for small screens */
@media only screen and (max-width: 769px) {
  .container-certificate {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .title {
    font-size: 35px;
    order: -1;
    margin-top: 30px;
  
  }

  .col-md-4 {
    margin: 10px;
    padding: 0; /* Reset padding */
  }

  .img-fluid {
    max-width: 80%;
    height: auto;
  }
  .box-container {
    max-width: 80%;
    max-height: 100vh;
  }

}

/* Media query for medium-sized screens */
@media (min-width: 769px) and (max-width: 1024px) {

  /* .container-certificate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  
  } */

  .title {
    font-size: 35px;
 position: relative;
  }

  /* .col-md-4 {
    padding: 10px;
    margin: 10px;
  } */

  .img-fluid {

    max-width: 80%;
    height: auto;
  }
  .box-container {
    max-width: 80%;
    max-height: 100vh;
  }
}
