/* CSS for small screens */
.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-certificate {
  background-color: rgb(14, 37, 63);
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Single column layout */
  grid-template-rows: auto; /* Adjust as per content */
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.col-md-4 {
  margin: 30px;
}

.title {
  text-align: center;
  font-size: 35px; /* Reduced font size for small screens */
  color: #ddd;
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #5dd6f5, #f705d6);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite alternate;
  transition: transform 0.3s ease-in-out;
}

@keyframes shine {
  0% {
    background-position: -150% center;
  }
  100% {
    background-position: 100% center;
  }
}

.title:hover {
  transform: scale(1.1);
}

.row-certificate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 20px;
}

.img-fluid {
  max-width: 80%; /* Adjusted width for small screens */
  height: auto;
  border: 4px solid #030d1d;
  border-radius: 8px;
  background-color: #141b2d;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.box-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.box-container {
  max-width: 80%; /* Adjusted width for small screens */
  max-height: 100vh;
}

.box-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


@media (min-width: 769px) {

  .container-certificate {
    grid-template-columns: repeat(3, 1fr); /* Restore multi-column layout */
  
  
  }

  .title {
    font-size: 50px; /* Restore font size for larger screens */
  }

  .img-fluid {
    max-width: 300px; /* Restore original width */
  }

  .box-container {
    max-width: 50%; /* Restore original width */
  }
}