.container {
  min-height: 100vh;
}
.contact-intro {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ddd;
}
.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
font-weight:bold;
font-size: 12px;
}

button {
  background-color: #1d314d;
  color: #fff;
  padding: 8px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3a5b88;
}

.reset-button {
  background-color: #3a5b88;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #1d314d;
}

.success-message {
  color: #3a5b88;
  font-weight: bold;
  font-size: 18px;
}

.contact-info h2 {
  font-size: 24px;
text-align: center;
  color: #f4f4f4;
}


.contact-label {
  margin-right: 20px;
  color: #f4f4f4;
}




.icon {
  margin-right: 8px;
  vertical-align: middle;
}
