

.text-light-footer {
  color: #fff;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px; 

}

.logo-img {
  width: 45px;
  height: auto;

}
.copyright  {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}

.social-icons-container {
  display: flex;
} 


/* Add media query for responsiveness if needed */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    margin-top: 20px;
  }

 
}
