@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container {
  flex: 1;
}

.footer {
  background-color: #030d1d;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  min-height: 15vh;
  /* position:static; */
  bottom: 0;
  width: 100%;
}

.footer-brand img {
  width: 50px;
  height: auto;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.footer p {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-right: 30px;
}

.social-icons {
  display: inline-block;
  vertical-align: middle;
}

.social-icon a {
  margin-left: 20px;
  color: #fff;
}
