
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
     background: conic-gradient(from -47deg at 60% 50%, #02071a, #030d1d, #1d314d);
    
  }
  
  .container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .text-center {
    padding: 20px;
  }
  
  .img-fluid {
    min-width: 300px; 
    height: auto;
    border: 5px solid #030d1d;
    border-radius: 8px;
    z-index: 1; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: conic-gradient(from -47deg at 60% 50%, #02071a, #030d1d, #1d314d);
  }
  
  
  .text-center h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .text-center h4 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
  }
  

  

