/* styles/SocialIcons.css */

.social-icon {
    display: flex;
    gap: 20px; 
  }
  
  .social-icon a {
    text-decoration: none; 
    color: inherit; 
  }

  .social-icon a:hover {
    color: #c2c2c2;
  }
  
  