/* navbar.css */

.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar-brand img {
  filter: brightness(0) invert(1); /* Make the logo white or lighter */
}
.navbar-brand {
  display: none;
  }

.custom-toggler {
 

  padding: 3px; 
  transition: background-color 0.3s ease; 
  margin: 20px;
}

.navbar-nav .nav-link{
  color: #fff !important;
  background: linear-gradient(to right, #02071a, #294d7e);
  font-size: 18px;
  align-items: center !important;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:active {
  background: linear-gradient(to right, #294d7e, #02071a);
  border-radius: 5px;
}


@media screen and (min-width: 576px) and (max-width: 767px) {


    .navbar-brand {
      display: none;
      }
  
} 
/* Media Query for Large Screens (Portrait and Landscape) */
@media screen and (min-width: 768px) {
 
  .navbar-nav .nav-link{
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    background: linear-gradient(to right, #294d7e, #02071a) ;
    border-radius: 5px; 
  }

  .navbar-brand {
    display:contents;
    }
}