/* Adjust the styles for portfolio-page in home-page.css */
.portfolio-page {
  text-align: center;
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Adjust the styles for projects-container in home-page.css */
.projects-container {
  display: flex;
  flex-wrap: wrap; /* Allow projects to wrap to the next row */
  justify-content: center;
  margin-top: 60px;
 

}

/* Adjust the styles for each project to control their width */
.project {
  /* width: calc(50% - 50px); */
  height: 400px;
  width: 400px;
  perspective: 1000px;
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  margin: 60px;
  flex-grow: 1; 


}

.project:hover .project-inner {
  transform: rotateY(180deg);
}

.project-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(0deg);
  
}

.project-front,
.project-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.project-back {
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: conic-gradient(from -45deg at 50% 50%, #02071a, #030d1d, #0a1f3d, #030d1d, #02071a);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(247, 241, 241, 0.897);
}

.project-link {
  color: #1491e4;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.2em;
}

.project-title {
  font-size: 1.5em;
  color: #084913;

  font-style: italic;

}
#title-project {
  margin-top: 70px;
}

.project-details {
  font-size: 1em;
  color: #ddd;
  margin-top: 10px;
}

.technologies {
  font-size: 0.7em;
  color: #ddd;
}
