.skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.skill-bar {
    color: #f4f4f4;
    position: relative;
}

.skill-level {
    height: 30px;
    background-color: #92067b;
    border-radius: 5px;
    /* position: absolute; */
    right: 0;
    top: 0;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.skill-name {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}